{%- set osarch = salt['grains.get']('osarch') %}
{% set sidecar_version = '1.0.1' %}
{% set filebeat_version = '7.1.1' %}
{%- load_yaml as base_defaults %}
Debian:
  sidecar: https://github.com/Graylog2/collector-sidecar/releases/download/{{ sidecar_version }}/graylog-sidecar_{{ sidecar_version }}-1_{{ osarch }}.deb
  filebeat: https://artifacts.elastic.co/downloads/beats/filebeat/filebeat-{{ filebeat_version }}-{{ osarch }}.deb
  service: graylog-sidecar.service
RedHat:
  sidecar: https://github.com/Graylog2/collector-sidecar/releases/download/{{ sidecar_version }}/graylog-sidecar-{{ sidecar_version }}-1.{{ osarch }}.rpm
  filebeat: https://artifacts.elastic.co/downloads/beats/filebeat/filebeat-{{ filebeat_version }}-{{ osarch }}.rpm
  service: graylog-sidecar.service
Suse:
  sidecar: https://github.com/Graylog2/collector-sidecar/releases/download/{{ sidecar_version }}/graylog-sidecar-{{ sidecar_version }}-1.{{ osarch }}.rpm
  filebeat: https://artifacts.elastic.co/downloads/beats/filebeat/filebeat-{{ filebeat_version }}-{{ osarch }}.rpm
  service: graylog-sidecar.service
{%- endload %}

{%- set sidecar = salt['grains.filter_by'](base_defaults, merge=salt['pillar.get']('graylog:sidecar')) %}
