{%- set osarch = salt['grains.get']('osarch') %}
{%- load_yaml as base_defaults %}
Debian:
  pkgurl: https://github.com/Graylog2/collector-sidecar/releases/download/0.1.5/collector-sidecar_0.1.5-1_{{ osarch }}.deb
  service: collector-sidecar.service
RedHat:
  pkgurl: https://github.com/Graylog2/collector-sidecar/releases/download/0.1.5/collector-sidecar_0.1.5-1.{{ osarch }}.rpm
  service: collector-sidecar.service
Suse:
  pkgurl: https://github.com/Graylog2/collector-sidecar/releases/download/0.1.5/collector-sidecar_0.1.5-1.{{ osarch }}.rpm
  service: collector-sidecar.service
{%- endload %}

{%- set agent = salt['grains.filter_by'](base_defaults, merge=salt['pillar.get']('graylog_collector_sidecar:agent')) %}
